#container{
    position: relative;
    height: 80vh;
    width: 20vw;
    left: 40%;
    margin-top: 40px;
    background-color: #000000;
}
.line {
    position: absolute;
    height: 100px;
    width: 5%;
    margin-left: 50%;
    background-color: ghostwhite;
}
.car {
    position: absolute;
    height: 60px;
    width: 40px;
    border-radius: 5px;
    box-shadow: 0px 0px 2px 2px #ff0000;
}
#car {
    bottom: 5%;
    left: 45%;
    background-color: #39e150;
}