#container {
    position: relative;
    height: 90vh;
    width: 22vw;
    left: 40%;
    margin-top: 40px;
    background-color: #00000061;
    overflow: hidden;
}
body {
    height: 100%;
    width: 100%;
    margin: 0;
    background-color: darkgrey;
}
.car {
    position: absolute;
    height: 70px;
    width: 50px;
    border-radius: 10px;
    box-shadow: 0px 0px 5px 0px #0122f2;
}
#car {
    bottom: 2%;
    left: 45%;
    background-color: #39e150;
}
.f_glass {
    position: absolute;
    height: 68%;
    width: 20%;
    margin-left: 41%;
    top: 15%;
    border-radius: 5px 5px 5px 5px;
    background-color: #ffffff;
}
.f_light_l {
    position: absolute;
    height: 10%;
    width: 25%;
    margin-left: 12%;
    top: -8%;
    border-radius: 5px 5px 0px 0px;
    background-color: #eef700;
}
.f_light_r {
    position: absolute;
    height: 10%;
    width: 26%;
    margin-left: 62%;
    top: -8%;
    border-radius: 5px 5px 0px 0px;
    background-color: #eef700;
}
.f_tyre_l{
    position: absolute;
    height: 20%;
    width: 15%;
    background-color: #242121;
    top: 20%;
    left: -15%;
    border-radius: 5px 0px 0px 5px;
}
.f_tyre_r{
    position: absolute;
    height: 20%;
    width: 15%;
    background-color: #242121;
    top: 20%;
    left: 100%;
    border-radius: 0px 5px 5px 0px;
}
.b_tyre_l{
    position: absolute;
    height: 20%;
    width: 15%;
    background-color: #242121;
    top: 70%;
    left: -15%;
    border-radius: 5px 0px 0px 5px;
}
.b_tyre_r{
    position: absolute;
    height: 20%;
    width: 15%;
    background-color: #242121;
    top: 70%;
    left: 100%;
    border-radius: 0px 5px 5px 0px;
}
#car1 {
    top: 100px;
    left: 64%;
    background-color: #d17e27;
}
#car2 {
    top: 386px;
    left: 80%;
    background-color: #7f6ed6;
}
#car3 {
    top: 30px;
    left: 10%;
    background-color: #e377c0;
}
#car4 {
    top: 236px;
    left: 79%;
    background-color: #386d86;
}
#car5 {
    top: 260px;
    left: 10%;
    background-color: #27cad1;
}
#score_div {
    position: absolute;
    margin-top: -31%;
    margin-left: 62%;
    font-size: 35px;
    background-color: #000000;
    color: #ef0101;
    padding: 10px;
    box-shadow: 4px 4px 0px 1px #e99d9d;
}
#gameOver {
    cursor: pointer;
    padding: 25px;
    color: red;
    background-color: #000000;
    font-size: 30px;
    margin-top: 30%;
    box-shadow: 0px 0px 2px 9px #d94b4b;
}
#gameOverDiv {
    position: absolute;
    height: 100%;
    width: 100%;
    background-color: #1f154a;
    font-size: 40px;
    text-align: center;
    display: none;
}
